@use "global" as *;

// ================================================================
// inner
// ================================================================
.text-wrapper {
  font-size: rem(40);
  font-weight: 700;
  color: $title-color;
}

