@use "global" as *;


.fv {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fv__title {
    font-size: rem(30);
    font-weight: 700;
    color: cornflowerblue;

    @include mq(tab) {
        color: rgb(237, 100, 214);
    }
}